QWidget#header_left
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_header_left.png');/*
background-color:#009EE0;
border-top-style:solid;
border-top-width:2px;
border-top-color: white;
border-left-style:solid;
border-left-width:2px;
border-left-color: white;
border-top-left-radius:6px;*/
}

QWidget#header
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_header.png');/*
background-color:#009EE0;
border-top-style:solid;
border-top-width:2px;
border-top-color: white;*/
}

QWidget#header_right
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_header_right.png');/*
background-color:#009EE0;
border-top-style:solid;
border-top-width:2px;
border-top-color: white;
border-right-style:solid;
border-right-width:2px;
border-right-color: white;
border-top-right-radius:6px;*/
}

QLabel#title_label
{
color:#FDFDFD;
background-color:none;
background-image:url('THEMEDIR/alpha_0.0.png');
font-weight: normal;
font-size:9pt;
font-family:"arial",sans-serif;
margin-left: 5px;
}

QLabel#wait_animation
{
background-color: white;
}

PM_ScrollBarExtent
{
background-color:#00FF00;
}

QWidget#frame  
{ 
background-color:rgba(0, 0, 0, 0); /*
background-image:url('THEMEDIR/alpha_0.0.png');*/
border-style:solid;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
border-width:0px;
border-top-style:solid;
border-top-color: white;
border-color:#FFFFFF;
}

QPushButton#deletePushButton 
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_button_delete.png');
background-repeat:no-repeat;
background-position:center;
border:none;
}

QPushButton#deletePushButton:hover 
{
background-color:none;
background-image:url('THEMEDIR/bloom_widget_button_delete.png');
background-repeat:no-repeat;
background-position:center;
border:none;
}

QPushButton#optionsPushButton 
{
background-color:none;
background-image:url(THEMEDIR/bloom_widget_button_parameters.png);
background-repeat:no-repeat;
background-position:center;
border:none;
}

QPushButton#optionsPushButton:hover 
{
background-color:none;
background-image:url(THEMEDIR/bloom_widget_button_parameters.png);
background-repeat:no-repeat;
background-position:center;
border:none;
}

QScrollBar:vertical
{
background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0 #FFFFFF, stop: 1 #C4C3C1);
padding:0px;
width: 14px;
margin: 16px 5px 16px 5px;
border: 1px solid #919191;
border-radius: 2px;
}

QScrollBar::handle:vertical 
{
background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0 #FFFFFF, stop: 1 #CDCACA);
padding: 20px 0px 20px 0px;
border: 1px solid #919191;
border-radius: 5px;
subcontrol-origin: margin;
}

QScrollBar::handle:vertical:hover 
{
background-color:qlineargradient(x1: 0.70, y1: 0, x2: 1, y2: 0,stop: 0 #FFFFFF, stop: 1 #CDCACA);
padding: 20px 0px 20px 0px;
border: 1px solid #919191;
border-radius: 5px;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical 
{
background: none;
height: 18px; 
subcontrol-position: bottom; 
subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical 
{
background: none;
height: 18px; 
subcontrol-position: top;
subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical 
{ 
background-color: none;
}

QScrollBar::up-arrow:vertical:hover 
{ 
background-color: none;
}

QScrollBar::down-arrow:vertical 
{ 
background-color: none;
}

QScrollBar::down-arrow:vertical:hover 
{ 
background-color: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical 
{ 
background-color: none;
}

QScrollBar:horizontal 
{
background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,stop: 0 #FFFFFF, stop: 1 #C4C3C1);
padding:0px;
height: 14px;
margin: 5px 16px 5px 16px;
border: 1px solid #919191;
border-radius: 2px;
}

QScrollBar::handle:horizontal 
{
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #FFFFFF, stop: 1 #CDCACA);
border: 1px solid #919191;
border-radius: 5px;
subcontrol-origin: margin;
}

QScrollBar::handle:horizontal:hover 
{
background-color:qlineargradient(x1: 0, y1: 0.70, x2: 0, y2: 1,stop: 0 #FFFFFF, stop: 1 #CDCACA);
border: 1px solid #919191;
border-radius: 5px;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal 
{
background: none;
width: 18px; 
subcontrol-position: right; 
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal 
{
background: none;
width: 18px; 
subcontrol-position: left;
subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal 
{
background: none;/*
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #FFFFFF, stop: 1 #CDCACA);
margin: 0px;
border: 1px solid #919191;
border-radius: 5px;
background-image: url('THEMEDIR/scroll-button-left.png');
background-repeat:no-repeat;
background-position:center center;*/
}

QScrollBar::left-arrow:horizontal:hover 
{ 
background: none;/*
background-color:qlineargradient(x1: 0, y1: 0.70, x2: 0, y2: 1,stop: 0 #FFFFFF, stop: 1 #CDCACA);
margin: 0px;
border: 1px solid #919191;
border-radius: 5px;
background-image: url('THEMEDIR/scroll-button-left.png');
background-repeat:no-repeat;
background-position:center center;*/
}

QScrollBar::right-arrow:horizontal 
{ 
background: none;/*
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #FFFFFF, stop: 1 #CDCACA);
margin: 0px;
border: 1px solid #919191;
border-radius: 5px;
background-image: url('THEMEDIR/scroll-button-right.png');
background-repeat:no-repeat;
background-position:center center;*/
}

QScrollBar::right-arrow:horizontal:hover 
{ 
background: none;/*
background-color:qlineargradient(x1: 0, y1: 0.70, x2: 0, y2: 1,stop: 0 #FFFFFF, stop: 1 #CDCACA);
margin: 0px;
border: 1px solid #919191;
border-radius: 5px;
background-image: url('THEMEDIR/scroll-button-right.png');
background-repeat:no-repeat;
background-position:center center;*/
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal 
{ 
background: none;
}
