Bloom_panel_home 
{
background-color:#FFFFFF;
}

QWidget#highlightedWidget
{/*
background-color:none;
background-image:url(THEMEDIR/highlight_square.png);*/
background: rgba(0, 158, 224, 100);
border-radius:6px;
border-style:inset;
border-width:2px;
border-color:rgba(0, 158, 224, 175);
}

QWidget#shadow
{/*
border-image: url('THEMEDIR/shadow.png') scale scale;

background: rgba(0, 0, 0, 100);
border-style:solid;
margin: 6px 5px 2px 5px;
border-width:30px;
border-top-color:   qradialgradient(spread:pad, cx:0.5, cy:1.2,   radius:0.53, fx:0.5, fy:1,stop: 0 rgba(0, 0, 0, 50), stop: 1 rgba(255, 255, 255, 0));
border-right-color: qradialgradient(spread:pad, cx:-0.2,   cy:0.5, radius:0.53, fx:0, fy:0.5,stop: 0 rgba(0, 0, 0, 50), stop: 1 rgba(255, 255, 255, 0));
border-bottom-color:qradialgradient(spread:pad, cx:0.5, cy:-0.2,   radius:0.53, fx:0.5, fy:0,stop: 0 rgba(0, 0, 0, 50), stop: 1 rgba(255, 255, 255, 0));
border-left-color:  qradialgradient(spread:pad, cx:1.2,   cy:0.5, radius:0.53, fx:1, fy:0.5,stop: 0 rgba(0, 0, 0, 50), stop: 1 rgba(255, 255, 255, 0));
border-radius:6px;*/
}

QWidget#shadow
{
background-color:#FFFFFF;
border-style:solid;
margin: 7px 7px 7px 7px;
border-width:2px;/*30px*/
border-color : #BBBBBB;
/*border-radius:6px;*/
border-radius:10px;
/*border-bottom-right-radius:0px;
border-bottom-left-radius:0px;*/
}


/* test */
QMenu
{
background-color:#DDDDDD;
border-style:outset;
border-width:1px;
border-top-color:#EEEEEE;
border-right-color:#CCCCCC;
border-bottom-color:#CCCCCC;
border-left-color:#EEEEEE;
}

QMenu::item
{
padding: 3px 5px 3px 5px;
border-style:none;
}

QMenu::item:selected
{
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #00BEFF, stop: 1 #009EE0);
padding: 1px 3px 1px 3px;

border-style:outset;
border-width:2px;
border-color:#009EE0;
}
